.BarTop{
    height: 56px;
    background-color: #8C9EFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 8px;
    color: #000000;
}

.Nav{
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BarTop h1{
    font-size: 36px;
    text-transform: none;
    font-weight: bold;
}